{% extends 'base.html' %} {% block content %}

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link port-item" data-toggle="collapse" data-target="#elimu">Elimu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link port-item" data-toggle="collapse" data-target="#nishati">Nishati</a>
      </li>
      <li class="nav-item">
        <a class="nav-link port-item" data-toggle="collapse" data-target="#maji">Maji</a>
      </li>
      <li class="nav-item">
        <a class="nav-link port-item" data-toggle="collapse" data-target="#afya">Afya</a>
      </li>
      <li class="nav-item">
        <a class="nav-link port-item" data-toggle="collapse" data-target="#miundombinu">Miundombinu</a>
      </li>
    </ul>
  </div>
  <div  id="elimu" class="card-body collapse" >
    <h5 class="card-title" id="title_id">wewe soma</h5>
    <p class="card-text" id="p_content_id">dynamic content too.</p>
    <a href="#" class="btn btn-primary" id="fungua_maoni_btn">Fungua Maoni</a>
  </div>
  <div id="nishati" class="card-body collapse" >
    <h5 class="card-title" id="title_id"> hamna umeme</h5>
    <p class="card-text" id="p_content_id">dynamic content too.</p>
    <a href="#" class="btn btn-primary" id="fungua_maoni_btn">Fungua Maoni</a>
  </div>
  <div id="maji" class="card-body collapse" >
    <h5 class="card-title" id="title_id"> maisha ni magumu dynamically</h5>
    <p class="card-text" id="p_content_id">dynamic content too.</p>
    <a href="#" class="btn btn-primary" id="fungua_maoni_btn">Fungua Maoni</a>
  </div>
 
  <div id="afya" class="card-body collapse" >
    <h5 class="card-title" id="title_id"> Kula sana </h5>
    <p class="card-text" id="p_content_id">dynamic content too.</p>
    <a href="#" class="btn btn-primary" id="fungua_maoni_btn">Fungua Maoni</a>
  </div>
  <div id="miundombinu" class="card-body collapse" >
    <h5 class="card-title" id="title_id"> barabara na maji</h5>
    <p class="card-text" id="p_content_id">dynamic content too.</p>
    <a href="#" class="btn btn-primary" id="fungua_maoni_btn">Fungua Maoni</a>
  </div>
</div>

{% endblock content %}
