{% extends 'base.html' %} 
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="card">
            <h5 class="card-header">Malalamiko</h5>
            <div class="card-body">
                <p class="card-text">Hapa utapata udhaifu kwenye huduma za serikali kwa jamii</p>
                <a href="#" class="btn btn-primary">Kufungua malalamiko</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
        <h5 class="card-header">Mapendekezo</h5>
            <div class="card-body">
                <p class="card-text">Sehemu ya mawazo ya wananchi ili kuboresha huduma za jamii</p>
                <a href="#" class="btn btn-primary">Fungua mapendekezo</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
        <h5 class="card-header">Pongezi</h5>
            <div class="card-body">
                <p class="card-text">Vijana wanaweza kutoa pongezi kwa serikali yao</p>
                <a href="#" class="btn btn-primary">Pata pongezi</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

